<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Builder design pattern demo">
    <test name="Register user test using datafaker and builder design pattern">
        <classes>
            <class name="io.github.mfaisalkhatri.test.RegistrationTest">
                <methods>
                    <include name="testRegisterUser"/>
                    <include name="testRegisterUserWithBuilder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>