<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="The-internet Website Tests" parallel="tests" thread-count="10" verbose="2">
    <test name="Browser Navigation Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="RegistrationTest">
                <methods>
                    <include name="testRegisterUser"/>
                    <include name="testRegisterUserWithBuilder"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite>